span {
    /* display: block; */
    margin: 20px; /* inline margin only left and right take effect */
    padding: 20px; /* inline padding top and bottom clapse when you narrow the window */
    display: inline-block; /* top and bottom margins take effect and the don't clapse when you narrow the window */
}

div {
    /* display: inline; */
    border: 2px solid crimson;
    margin: 20px; /* block margin top and bottom clapse */
    padding: 20px;
}

/* default browser styles: user agent stylesheet */